.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header-right{
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 700;
    font-family: cursive;
    cursor: pointer;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
    cursor: pointer;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    cursor: pointer;
}

.theme-icon{
    font-size: 2rem;
    cursor: pointer;
}

.theme-icon:hover{
    color: var(--main-color);
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
}


@media (max-width: 880px) {
    #menu-icon {
        display: block;
    }

    

    .theme-icon{
        margin-right: 2rem;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 10%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}

